<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Back to HOME</a>
      </div>
      <!-- <ul class="nav navbar-nav">
        <li ><a href="#">Home</a></li>
      </ul> -->
    </div>
  </nav>

<h1>Delete Item in the Cart</h1>
<p>
    Are you sure you want to delete this reservation?
</p>
<ul>
    <li>Name: {{campsite.campname}}</li>
    <li>Check_in: {{(campsite.check_in).split("T")[0] }}</li>
    <li>Check_out: {{(campsite.check_out).split("T")[0] }}</li>
    <li>Price: {{campsite.price}}</li>
</ul>
<input type="button" value="Yes, Delete" class="btn btn-danger" ng-click="deleteCartItem()" />
<a class="btn btn-default" href="/#/my-cart">No, Go Back</a>