<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Back to HOME</a>
      </div>
      <!-- <ul class="nav navbar-nav">
        <li ><a href="#">Home</a></li>
      </ul> -->
    </div>
  </nav>

<h1>User Login</h1>

<form>
    <div >
        <label>User name</label>		
        <input type="text" ng-model="user.username"></input>
    </div>
    
    <div>
        <label>Password</label>
        <input type="password"  ng-model="user.password"></input>
    </div>

    <input type="button" class="btn btn-primary" value="Log in" ng-click="userlogin()"></input>
</form>